<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Scene Kit Session WWDC 203</string>
	<key>Slides</key>
	<array>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter1</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideIntroduction</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>-30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideArchitecture</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<real>0.5</real>
					<real>0.7</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideAllNew</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideOutline</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>-50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter2</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideSceneGraph</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
				</array>
				<key>transitionOffsetZ</key>
				<integer>-50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideGeometry</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>18</integer>
				<key>enableShadows</key>
				<true/>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.7</real>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.3</real>
				</array>
				<key>pitch</key>
				<integer>-30</integer>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideLight</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
				</array>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCamera</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.5</real>
					<real>0.3</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.3</real>
				</array>
				<key>pitch</key>
				<integer>-15</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideSceneGraphSummary</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>38</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>pitch</key>
				<integer>-17</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter3</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideRenderers</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<real>0.5</real>
					<real>0.8</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>20</integer>
				<key>transitionOffsetZ</key>
				<integer>12</integer>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideInterfaceBuilder</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCreateAScene</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCreatingGeometries</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.8</real>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.4</real>
					<real>0.4</real>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCreateAScene2</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideLoadingDae</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<real>6.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideDaeOnOSX</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
				</array>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideEditor</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideSampleLoadingDae</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideRenderAScene</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideManipulation</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideManipulation2</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>7</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideManipulation3</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideManipulation4</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideImplicitAnimations</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionRotation</key>
				<integer>-45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideExplicitAnimations</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMaterials</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.7</real>
					<real>0.5</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMaterialProperties</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
				</array>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMaterialConfigure</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>7</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.7</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>-20</integer>
				<key>transitionOffsetZ</key>
				<integer>-50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMaterialLayer</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>12</integer>
				<key>enableShadows</key>
				<true/>
				<key>floorImageName</key>
				<string>floor-frames</string>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>pitch</key>
				<integer>-15</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter4</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideExtendingOutline</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetZ</key>
				<integer>12</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideDelegateRendering</string>
			<key>Parameters</key>
			<dict>
				<key>pitch</key>
				<integer>45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideNodeDelegate</string>
			<key>Parameters</key>
			<dict>
				<key>floorFalloff</key>
				<real>0.7</real>
				<key>floorReflectivity</key>
				<real>0.7</real>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCustomProgram</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>floorReflectivity</key>
				<real>0.5</real>
				<key>lightIntensities</key>
				<array>
					<real>0.8</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.3</real>
				</array>
				<key>pitch</key>
				<integer>0</integer>
				<key>transitionOffsetX</key>
				<integer>40</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideShaderModifiers</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>15</integer>
				<key>isNewIn10_9</key>
				<true/>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter5</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMorphing</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.3</real>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.5</real>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideSkinning</string>
			<key>Parameters</key>
			<dict>
				<key>lightIntensities</key>
				<array>
					<real>0.2</real>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.3</real>
					<real>0.5</real>
					<real>0.5</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideDOF</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>10</integer>
				<key>floorImageName</key>
				<string>wood</string>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.2</real>
				</array>
				<key>pitch</key>
				<integer>-18</integer>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCoreImage</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>6</integer>
				<key>floorReflectivity</key>
				<integer>0</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideConstraints</string>
			<key>Parameters</key>
			<dict>
				<key>floorImageName</key>
				<string>poolFloor</string>
				<key>floorReflectivity</key>
				<integer>0</integer>
				<key>lightIntensities</key>
				<array>
					<integer>0</integer>
					<real>0.3</real>
					<string>1.0</string>
					<string>0</string>
					<string>0</string>
				</array>
				<key>transitionOffsetZ</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideAnimationEvents</string>
			<key>Parameters</key>
			<dict>
				<key>floorImageName</key>
				<string>floor2</string>
				<key>lightIntensities</key>
				<array>
					<real>0.6</real>
					<real>0.8</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideChapter6</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>4</integer>
				<key>floorFalloff</key>
				<integer>1</integer>
				<key>floorImageName</key>
				<string>titleBg</string>
				<key>floorReflectivity</key>
				<real>0.2</real>
				<key>lightIntensities</key>
				<array>
					<integer>2</integer>
				</array>
				<key>pitch</key>
				<real>-11.25</real>
				<key>transitionOffsetZ</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideStatistics</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_9</key>
				<true/>
				<key>transitionOffsetX</key>
				<integer>20</integer>
				<key>transitionRotation</key>
				<integer>-90</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideFlattening</string>
			<key>Parameters</key>
			<dict>
				<key>isNewIn10_9</key>
				<true/>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideCloning</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>8</integer>
				<key>lightIntensities</key>
				<array>
					<real>0.5</real>
					<real>0.7</real>
				</array>
				<key>transitionOffsetX</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideLighting</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideTexturing</string>
			<key>Parameters</key>
			<dict>
				<key>transitionOffsetX</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideLOD</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>6</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.3</real>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<real>0.3</real>
				</array>
				<key>pitch</key>
				<integer>-9</integer>
				<key>transitionDuration</key>
				<real>1.5</real>
				<key>transitionOffsetZ</key>
				<integer>20</integer>
				<key>transitionRotation</key>
				<integer>-45</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideMoreInfo</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideLabs</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
				<key>lightIntensities</key>
				<array>
					<integer>1</integer>
					<real>0.5</real>
				</array>
				<key>transitionOffsetZ</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>ASCSlideEnd</string>
			<key>Parameters</key>
			<dict>
				<key>altitude</key>
				<integer>30</integer>
				<key>transitionOffsetZ</key>
				<integer>10</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
