<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyOperationPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D6DD8A1F6F3B9D00EE9B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D6DDA11F6F3B9E00EE9B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D6DDAC1F6F3B9E00EE9B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
